export(QuantileQuantilePlot)
export(ccgammaplot)
export(cor.confidence.interval)
export(corlag)
export(corplotlags)
export(logcor.plot)
export(sampleConfidenceBand)
export(spellBoxPlot)
export(temperature.wetdry.barplot)
